<div ng-controller='GameController as ctrl' 
	ui-swipe-left="swiped('left')"
	ui-swipe-right="swiped('right')"
	ui-swipe-bottom="swiped('down')"
	ui-swipe-top="swiped('up')">  
  <div id="scores">
  	<table class="scores-table">
  		<tr>
		  	<td>
		      	<div class="score-container">{{game.currentScore}}</div>
		     </td>
      		<td>
	      		<button ng-click='ctrl.newGame()' class="restart-button">New game</button>
	      	</td>
      		<td>
      			<div class="best-container">{{game.highScore}}</div>
      		</td>
      	</tr>
     </table>
  </div>

  <div id="instructions">
    Join the numbers and get to the <strong>2048</strong> tile!
  </div>
  
  <div id="game-container">
    <div grid ng-model='game'></div>

    <div id="game-over" ng-if="game.gameOver" class="game-overlay">
      Game over

      <div class="lower">
        <a class="retry-button" ng-click='ctrl.newGame()'>Try again</a>
      </div>
    </div>

    <div id="win" ng-if="game.win" class="game-overlay">
      You win!

      <div class="lower">
       	<a class="continue-button" ng-click='game.win = false; game.goForMax = true;'>Continue</a>
        <a class="retry-button" ng-click='ctrl.newGame()'>Try again</a>
      </div>
    </div>
    
    <div id="maxWin" ng-if="game.maxWin" class="game-overlay">
      You win with max score!

      <div class="lower">
        <a class="retry-button" ng-click='ctrl.newGame()'>Try again</a>
      </div>
    </div>
  </div>

  <p class="game-explanation">
    <strong class="important">How to play:</strong> Swipe <strong>up, down, left and right</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
  </p>
</div>